<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Blackjack</h1>
    <div>
        <strong>Jugador:</strong> {{.PlayerCards}} ({{.PlayerScore}})
    </div>
    <div>
        <strong>Banca:</strong> {{.DealerCards}} ({{.DealerScore}})
    </div>
    <p>{{.Message}}</p>
    <div>
        <a href="/?action=start">Iniciar</a>
        <a href="/?action=hit">Pedir carta</a>
        <a href="/?action=stand">Plantarse</a>
    </div>
</body>
</html>


